*{
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
}

body{
    background-color: #9b0c96;
    color: white;
    font-family: "Tangerine", cursive;
    font-weight: 600;
    font-style: normal;
}

.title{
    text-align: center;
    font-size: 60px;
    margin-top: 15px;
}

.cliqueaqui{
    color: #e96be5;
    display: flex;
    justify-content: center;
    margin-top: 3.5em;
    font-size: 50px;
}

